# Decision Tree Example
This notebook follows Jason Brownlee's [tutorial](https://machinelearningmastery.com/implement-decision-tree-algorithm-scratch-python/) on implementation of a decision tree.

In [1]:
import pandas as pd

In [5]:
#### Import the dataset ####
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/00267/data_banknote_authentication.txt'
column_labels = ['variance','skew','curtosis','entropy','class']
df = pd.read_csv(url,names=column_labels)

In [6]:
df.head()

   variance    skew  curtosis  entropy  class
0   3.62160  8.6661   -2.8073 -0.44699      0
1   4.54590  8.1674   -2.4586 -1.46210      0
2   3.86600 -2.6383    1.9242  0.10645      0
3   3.45660  9.5228   -4.0112 -3.59440      0
4   0.32924 -4.4552    4.5718 -0.98880      0

# Evaluating splits with Gini index
The gini index strives to split classes into groups. For instance a perfect division of our data into two pools where one pool is completely composed of data labeled as class A and the other pool with data labeled as class B results in a Gini score 0f 0. At the other end of the spectrum, two pools each with 50% class A and 50% class B results in a Gini score of 0.5.

Let's consider a toy example where we have two groups of data. Each group has two data points (rows), and each data point is labeled with a class.

In [ ]:
#### Calculating Gini Index ####